
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


    <div class="container">

        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Is there a problem ? Please contact us</div>
                </div>
                <div style="padding-top:30px" class="panel-body">
                    <form id="loginform" class="form-horizontal" role="form">

                        <div class="form-group row">
                            <label for="full_name" class="col-md-4 col-form-label text-md-right">Coder E mail : </label>
                            <div class="col-lg">
                                <label for="full_name" class="col-md-4 col-form-label text-md-right">merihcankorkmaz16@gmail.com</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="full_name" class="col-md-4 col-form-label text-md-right">Official Web Site : </label>
                            <div class="col-lg">
                                <a href="https://www.saglik.gov.tr/" target="_blank" class="col-md-4 col-form-label text-md-right">www.saglik.gov.tr</a>
                            </div>
                        </div>
                        
                    </form>



                </div>
            </div>
        </div>
    </div>



